/*Element selector below*/

body {
    font-family: 'Jersey 25';
    max-width: 100%;
}

h1 {
    color: red;
    text-align: center;
    padding: 40px 10px 7px 8px;
    margin: 40px 30px 30px 30px;
    border:solid;
    border-width: 0.2cm;
    background-color: beige;
}

#meeting-topic {
    color: rgb(102, 120, 183);
    text-decoration: underline;
    text-align: left;
    border: solid;
    border-width: 2px 3px 2px 20px;
}

.date {
    color: hsl(9, 17%, 55%);
}

* {
    position: static;
}

a[attrib]{
    background-color: #584343;
}

a:hover{
    color: red;
    display:block;
}

form:active{
    color: grey;
}

p, a{
    background-color: color(a98-rgb 1 0 0);
    display: inline-block;
}

header h2{
    text-align: right;
}

div > p{
    color: color-mix(in srgb, #34c9eb 30%, white);
    height:auto;
    width:auto;
    max-width: 2cm;
    min-width: 2mm;
}

i + span {
    text-decoration: line-through;
    position:static;
}

@property --h2-color {
    syntax: "<color>";
    inherits: false;
    initial-value: cornflowerblue;
}

div ~ h2 {
    color: var(--h2-color, red);
    position:relative;
}

p.form {
    font-size: 2ch;
    color:aqua;
}

form:has(+p){
    color:green;
    font-size: 1.5em;
}

.meeting-minutes{
    font-size: 1.2rem;
    & > a {
        color: tomato;
        &:hover{
            background-color: yellow;
        }
    }
}

img{
    align-content: center;
    border: solid;
    border-top-width: 10px;
    border-bottom-width: 1cm;
    border-right-width: 15mm;
    border-radius: 10px;
    border-color:rgb(102, 120, 183);
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top:5%;
    padding-left:6%;
    padding-bottom:7%;
    padding-right:8%;
    max-width: 100%;
}

video{
    max-width: 100%;
}

.flex-container{
    display: flex;
    background-color: blanchedalmond;
    flex-direction:column;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.grid-container{
    display: grid;
    background-color: greenyellow;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10px 10px 10px;
    grid-area:auto;
}

.grid-item {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
      width: 100%; /* Change width to full width */
    }
  }
